body{
    
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    
} 



/*header for each page*/
header{
    
    padding:20px;
    width: auto;
    color: black;
    margin: 0;
}





/*header-class-banner*/
.banner{
    overflow: auto;
    width: auto;
    background-color: #c2c2c2;

}
.banner img{
    float: left;
}

h1{
    margin-left: 5px;
    width: auto;
    position: relative;
    margin-top: 20px;
    font: 1.4em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6em;
   
}

/*nav: floats right- has hover feature */

.menu {
    background-color: #d9d9d9;
}

nav{
    float: right;
    margin-top: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
}

nav ul{
    margin:0;
    padding:0 10px 0 0;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color:black;
}

nav ul li a:hover{
	color:darkorange;
	}
